@model ProyectoTelefonos.Rack

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Rack</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Puesto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Puesto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PuestoTel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PuestoTel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
